ion-segment {
  margin-bottom: 1rem;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 1rem;
}

ion-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

