<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Book' : 'Create Book' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ isEditMode ? 'Edit Book' : 'Create New Book' }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="bookForm" (ngSubmit)="save()">
          <ion-item>
            <ion-label position="stacked">Book Name</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              placeholder="Enter book name"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="bookForm.get('name')?.invalid && bookForm.get('name')?.touched">
            <p class="ion-padding-start">Book name is required (min 2 characters)</p>
          </ion-text>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="bookForm.invalid"
            class="ion-margin-top"
          >
            {{ isEditMode ? 'Update Book' : 'Create Book' }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

